*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 5rem;
}

ul,
ol {
  border: 1px solid #ccc;
  padding: 1em;
}

ol li {
  margin-left: 1em;
}

ul {
  list-style: none;
}

// .zoo2 {
//   display: flex !important;
// }

.zoo-style {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 0.5em 0;
}

.italic {
  font-style: italic;
}

// Leaflet example
#issMap {
  height: 180px;
}
